!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ActionStorageTest
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      - if current_user
        .mr-3
          = link_to 'Home', root_path
        - if current_user
          .mr-3
            = link_to "Edit Profile", edit_user_path(current_user)
        .mr-3
          = link_to t('pages.index.sign_out'), destroy_user_session_path, method: :delete
      - else
        .mr-3
          = link_to t('pages.index.sign_up'), new_user_registration_path
        .mr-3
          = link_to t('pages.index.sign_in'), new_user_session_path
    - flash.each do |key, value|
      %div{:class => "alert alert-#{key}"}= value
    = yield
